#education{
    width: 100%;
    height: 500px;
    /* border: 2px solid white; */
    color: white;
    margin: 3rem 0;
}

.container{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    position: relative;
}

.line{
    width: 5px;
    height: 100%;
    background-color: rgb(0, 81, 255);
    border-radius: 10px;
    margin: auto;
}

.box{
    position: absolute;
    /* width: 35vw; */
    border: 1px solid cyan;
}

.boxx{
    width: 30vw;
    height: 10vw;
}

.boxx .boxes{
    width: 100%;
    height: 100%;
    /* border: 1px solid greenyellow; */
    line-height: 2.5vw;
    position: relative;
    padding: 15px;
}

.boxes p{
    color: blue;
}

.arrow{
    position: absolute;
    top: 37%;
    /* border: 1px solid greenyellow; */
    font-size: 1.5rem;
}

.certificate{
    top: 5%;
    left: 10%;
}

.certificate .arrow{
    right: -8%;
}

.graduation{
    top: 20%;
    right: 10%;
}

.graduation .arrow{
    left: -8%;
}

.hsc{
    top: 45%;
    left: 10%;
}

.hsc .arrow{
    right: -8%;
}

.ssc{
    top: 60%;
    right: 10%;
}

.ssc .arrow{
    left: -8%;
}

  
@media (max-width: 1270px) {
    /* #education{
        border: 2px solid red;
    } */
    .boxx{
        height: auto;
    }
    .boxx .boxes{
        line-height: normal;
    }
}
  
@media (max-width: 790px) {
    #education{
        width: 100%;
        height: 600px;
        margin: 2rem 0;
        /* padding: 10px; */
    }
    .line{
        margin: 0 2rem;
        width: 6px;
    }
    .box{
        width: 70%;
    }
    .boxx{
        width: calc(100% - 5%);
    }
    .certificate{
        top: 3%;
        left: 20%;
    }
    .certificate .arrow{
        right: 105%;
        transform: rotate(180deg);
    }
    .graduation{
        top: 27%;
        left: 20%;
    }
    .hsc{
        top: 56%;
        left: 20%;
    }
    .hsc .arrow{
        right: 105%;
        transform: rotate(180deg);
    }
    .ssc{
        top: 80%;
        left: 20%;
    }
    .boxes h2{
        font-size: 3.5vw;
    }
    .boxes p{
        font-size: 3vw;
    }
}

@media (max-width: 600px) {
  
}