footer{
    /* border: 2px solid white; */
    padding: 2vw;
    color: white;
    padding-bottom: 1vw;
}

footer .foots{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* .foots .foot{
    border: 2px solid white;
} */

.foots .foot:last-child{
    text-align: center;
    width: 15%;
}

.foots .foot h2{
    line-height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.foot ul li{
    /* line-height: 2vw; */
    margin: 10px 0;
    transition: all 2s ease-in-out;
}

.foot ul li a{
    color: white;
}

.foot ul li:hover{
    transform: scale(1.2);
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0;
}

.social li a{
    font-size: 2vw;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

.social li:nth-child(1) a{
    color: rgb(153, 0, 255);
}

.social li:nth-child(2) a{
    color: blue;
}

.social li:nth-child(3) a{
    color: rgb(255, 255, 255);
}

.foot li:hover a{
    color: yellow;
}

footer h1{
    border-top: 2px solid white;
    text-align: center;
    margin-top: 2vw;
    padding-top: 1vw;
}






@media (max-width:1000px) {
    .foots .foot:last-child{
        text-align: center;
        width: 20%;
    }
    .social li a{
        font-size: 3vw;
        border: none;
    }
}
  
@media (max-width:768px) {
    /* .foots .foot:nth-child(2) ul{
        line-height: 50px;
        background-color: #dd5a5a;
    }     */
    .foot ul li{
        line-height: 3vw;
        transition: all 2s ease-in-out;
    }
    footer h1{
        font-size: 4vw;
    }
}  

@media (max-width:650px) {
    footer .foots{
        flex-wrap: wrap;
        gap: 1rem;
        line-height: 50px;
        justify-content: space-between;
    }
}